$body-color: red;
$board-width: 9;
$box-height: 50px;

:export {
  boardWidth: $board-width;
}

div button {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.page-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .block-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat($board-width, auto);

    div {
      background-color: blue;
      width: $box-height;
      height: $box-height;
      border: 1px solid black;

      &.head {
        background-color: red;
      }
    }
  }
}

button {
  margin: 0 auto;
  width: 90px;
}
