$body-color: red;
$board-width: 30;
$square-size: 10px;
$square-color: #4f49b0;
$snake-color: #f51261;
$food-color: #f2d07b;

:export {
  boardWidth: $board-width;
}

div button {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.page-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .board {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat($board-width, auto);

    div {
      background-color: $square-color;
      width: $square-size;
      height: $square-size;

      &.body {
        background-color: $snake-color;
      }

      @mixin arrow() {
        content:'';
        position: absolute;
        width: 0;
        height: 0;
      }

      @mixin horizontal-arrow() {
        border-top: solid ($square-size / 2) transparent;
        border-bottom: solid ($square-size / 2) transparent;
      }

      @mixin vertical-arrow() {
        border-left: solid ($square-size / 2) transparent;
        border-right: solid ($square-size / 2) transparent;
      }

      &.down-arrow::after {
        @include arrow();
        @include vertical-arrow();
        border-top: solid $square-size $snake-color;
      }

      &.up-arrow:after {
        @include arrow();
        @include vertical-arrow();
        border-bottom: solid $square-size $snake-color;
      }

      &.left-arrow:after {
        @include arrow();
        @include horizontal-arrow();
        border-right: solid $square-size $snake-color;
      }

      &.right-arrow:after {
        @include arrow();
        @include horizontal-arrow();
        border-left: solid $square-size $snake-color;
      }

      &.food {
        background-color: $food-color;
      }
    }
  }
}

button {
  margin: 0 auto;
  width: 90px;
  outline: none;
}
